.user-root,
.assistant-root {
  font-family: var(--font-inter);
  font-size: 13px;
  display: flex;
}

.user-root {
  padding-right: 20px;
}

.assistant-patch-root {
  flex: 1;
}

.assistant-root {
  padding-left: 26px;
  justify-content: flex-end;
}

.assistant-message,
.assistant-patch-group {
  background: #e7f7ff;
  border: 1px solid #c0d2e2;
  color: #0a3d59;
}

.language-based,
.assistant-patch-group {
  padding: 12px 14px;
}

.language-based {
  border-radius: 10px;
}

.user-message {
  background: #fffcf7;
  border: 1px solid #f5e6cc;
  color: #724b0c;
}

.assistant-patch-group {
  font-weight: 540;
  margin-bottom: 10px;
}

.change .icon {
  position: relative;
  top: 1px;
}

.array-diff,
.scalar-diff {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.diff-item {
  display: flex;
  align-items: center;
  font-weight: 550;
  white-space: nowrap;
}

.from,
.to,
.val {
  font-size: 11px;
  padding: 2px 6px;
}

.from,
.to {
  background: #fcf8eb;
}

.icon {
  margin-right: 6px;
}

.colon {
  margin-right: 6px;
}

.direction {
  margin: 0 2px;
}

.direction,
.colon {
  font-weight: 400;
}

.add {
  color: #3b9163;
}

.add .val {
  background: #f0f7ef;
}

.remove .val {
  background: #f7efef;
}

.remove {
  color: #b03939;
}

.change {
  color: #d0a207;
}
