.content {
  padding-top: 50px;
}

.popular-searches {
  margin-bottom: 60px;
}

.email-collector {
  margin-bottom: 50px;
}

.latest-properties {
  margin-bottom: 70px;
}

.hr {
  margin-bottom: 110px;
}

@media (min-width: 768px) {
  .latest-properties {
    margin-bottom: 90px;
  }

  .hr {
    margin-bottom: 120px;
  }
}

.heading {
  font-family: var(--font-libre);
  font-size: 26px;
  margin-bottom: 18px;
}

@media (min-width: 1200px) {
  .heading {
    font-size: 28px;
  }
}
