*

!package.json
!apps/cms
!packages/strapi-plugin-google-map-picker

apps/cms/.tmp/
apps/cms/.cache/
apps/cms/.git/
apps/cms/dist/
apps/cms/build/
apps/cms/node_modules/
apps/cms/.env
apps/cms/data/
apps/cms/backup/
apps/cms/public/uploads

packages/strapi-plugin-google-map-picker/node_modules
packages/strapi-plugin-google-map-picker/.gitignore
