.main {
  border-bottom: 1px solid;
}

.container {
  display: flex;
  align-items: center;
  padding: 18px 0;
  justify-content: space-between;
}

.nav-icon {
  position: relative;
  top: 2px;
  cursor: pointer;
}

.nav-and-contact-button {
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  font-size: 14px;
}

.logo {
  position: relative;
  top: 2px;
}

.logo svg {
  display: block;
}

.button {
  border-radius: 18px;
  height: 36px;
  padding: 0 20px;
  text-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: none;
  margin-left: 16px;
}

.ai-search {
  flex: 1;
  max-width: 400px;
}

.nav {
  display: none;
  gap: 18px;
}

.back {
  border-bottom: 1px solid;
  font-family: var(--font-inter);
  font-size: 14px;
}

.back-inner {
  height: 36px;
  line-height: 36px;
}

.icon {
  margin-right: 8px;
}

@media (min-width: 768px) {
  .button {
    display: flex;
    align-items: center;
  }

  .nav-icon {
    display: none;
  }

  .nav {
    display: flex;
  }
}
