.root {
  border-bottom: 1px solid;
}

.container {
  display: flex;
  align-items: center;
  padding: 18px 0;
  justify-content: space-between;
}

.nav-icon {
  position: relative;
  top: 2px;
  cursor: pointer;
}

.nav {
  display: none;
  font-family: var(--font-inter);
  gap: 16px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .nav-icon {
    display: none;
  }

  .nav {
    display: flex;
  }
}
