.root {
  display: flex;
  align-items: center;
  padding: 18px 26px 18px 20px;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.nav-icon {
  display: none;
  position: relative;
  top: 2px;
}

.nav {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--font-inter);
  display: flex;
  gap: 16px;
  font-size: 14px;
}

.light .nav {
  color: rgba(255, 255, 255, 0.7);
}

.light .active {
  color: white;
}

.dark .nav {
  color: rgba(0, 0, 0, 0.7);
}

.dark .active {
  color: black;
}
