.primary,
.secondary {
  height: 48px;
  font-weight: 300;
  display: flex;
  width: 100%;
  text-align: center;
  font-family: var(--font-inter);
  align-items: center;
  justify-content: center;
}

.primary {
  background: #000;
  color: #fff;
}

.secondary {
  border: 1px solid #e0e0e0;
}

.primary[disabled],
.secondary[disabled] {
  background: #eee;
  border: 1px solid #eee;
  color: #ccc;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
