.root {
  background-color: #222;
  font-family: var(--font-inter);
  padding: 10px 0 0;
  color: #fff;
}

.links {
  margin-bottom: 60px;
}

.heading {
  color: #909090;
  font-size: 11px;
  font-weight: 500;
  padding: 20px 0;
}

.list {
  font-size: 14px;
}

.list li {
  margin-bottom: 20px;
  font-weight: 200;
}

.logo-disclaimer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  fill: currentColor;
  display: flex;
  justify-content: center;
}

.column-disclaimer,
.full-disclaimer {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-size: 11px;
}

.column-disclaimer {
  display: none;
}

.full-disclaimer {
  text-align: center;
  padding: 14px 0;
}

.socials {
  flex: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 12px;
}

.linked-in {
  transform: scale(0.9);
}


@media (min-width: 768px) {
  .links {
    display: flex;
    gap: 60px;
  }

  .column-disclaimer {
    display: unset;
  }

  .full-disclaimer {
    display: none;
  }

  .logo-disclaimer-socials {
    border-bottom: none;
    padding: 20px 0;
  }
}
