.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 200;
}

.content {
  min-height: calc(100vh - 138px);
  padding: 20px;
}

.breadcrumbs {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 14px;
}

.title-main {
  font-family: var(--font-libre);
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 2px;
}

.location {
  color: rgba(0, 200, 250, 1);
  text-decoration: underline;
  text-decoration-thickness: 0.001em;
  text-underline-offset: 4px;
  text-decoration-color: rgba(0, 200, 250, 0.5);
}

.resolution {
  font-family: var(--font-inter);
  font-weight: 300;
  color: #555;
  font-size: 16px;
}

.resolution span {
  padding: 1px 7px;
  border-radius: 3px;
  background: #9c54bd;
  /* border: 1px solid #8850a2; */
  /* color: #8850a2; */
  /* border: 1px solid #555; */
  color: #fff;
}

.icon {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.count-and-sort {
  margin-bottom: 14px;
}

.pagination {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .properties {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.hr {
  margin-bottom: 110px;
}

.map {
  display: none;
}

@media (min-width: 1200px) {
  .main {
    position: relative;
  }

  .content {
    position: relative;
    padding: 40px;
    margin-right: 36vw;
    max-width: 840px;
  }

  .map {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 840px);
    min-width: 36vw;
    border-left: 1px solid rgb(236, 236, 236);
  }

  .map-inner {
    position: sticky;
    width: 100%;
    height: calc(100vh - 138px);
    left: 0;
    top: 138px;
  }
}
