.item {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  font-family: var(--font-inter);
  border: 1px solid #e0e0e0;
  border-left-width: 0;
  font-size: 14px;
}

.item:first-child {
  border-radius: 3px 0 0 3px;
  border-left-width: 1px;
}

.item:last-child {
  border-radius: 0 3px 3px 0;
}

.item[data-state="on"] {
  background: #222;
  color: #fff;
  border-color: #222;
}
