.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.hero > * {
  flex: 1;
}
