.root {
  display: flex;
  font-family: var(--font-inter);
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #838383;
}

.label {
  cursor: default;
  margin-left: 6px;
  font-size: 15px;
  font-weight: 300;
}
