.root {
  font-family: var(--font-inter);
  border: 1px solid #e0e0e0;
  background: #fff;
  line-height: 20px;
  color: #333;
  padding: 14px;
  font-weight: 300;
}

.root::placeholder {
  color: #aaa;
}

.stretch {
  width: 100%;
}
