.root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.prev-button,
.next-button {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.xl .prev-button,
.xl .next-button {
  width: 60px;
  height: 60px;
}

.prev-button[disabled],
.next-button[disabled] {
  cursor: default;
}
